---
layout: default
---

<div class="home">
  {%- if page.title -%}
   <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Welcome to prototypes!" }}</h2>
    <i>Prototypes</i> is a collaboration between developers and researchers at IBM Quantum 
    that gives users access to prototypes from cutting-edge research in areas like quantum 
    simulation and machine learning. These software packages are built on top of, and may 
    eventually be integrated into, the Qiskit SDK. They are a contribution as part of the 
    Qiskit community.
    <br><br>It can take a long time for new quantum computing techniques to make their way 
    from original research to usable software. To help you get access to these tools faster, 
    we are making them available earlier in the development cycle. Each prototype will be 
    accompanied by a set of resources and documentation to guide you in applying new 
    capabilities to your own research or industry applications, and you'll be able to 
    engage with us and other users along the way.  
    <br><br> If you would like to share your feedback, you can
    <br><br>
    <ul>
      <li>Open an issue on the repository</li>
      <li>Start a conversation on the GitHub Discussions board within the repository
      <li>Fill out our survey</li>
    </ul> 
    Feedback from users like you will help us improve the prototypes, and may even influence decisions about what we develop in the future.
    <br><br>
    <h2>Available prototypes</h2>
    <ul>
      <li>Quantum Kernel Trainer</li>
      <li>Entanglement Forging</li>
    </ul> 
    Also, check out upcoming prototypes here.
    <br><br>
    <h2>Resources</h2>
    <ul>
      <li>Announcement on Qiskit Medium</li>
    </ul> 
    <h2>Citing prototypes</h2>
    If you use prototypes in your work, please cite using the BibTeX file CITATION.bib found in each repository.
  {%- endif -%}

</div>
